html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;

}

body {
  color: white;
  font-size: 16px;
}

p {
  margin: 10px;
}

*, *:after, *:before{
  box-sizing: inherit;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  
}

.location {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather {
  background-color: rgba(0,0,0, 0.4);
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}

@media (min-width: 768px ){
  .weather{
    max-width: 700px;
    padding: 60px;
  }
}

.footer, .minmax {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.temperature p {
  margin: 10px;
}

.button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  border: solid 2px white;
}

.button:hover {
  cursor: pointer;
  border: none;
  color: rgb(24,103,133);
  background-color: white;
}

.spiner {
  margin: 0 auto;
  border: 4px solid rgba( 255,255,255,.3);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

