html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  
}

body {
  color: white;
  font-size: 16px;
  background-color: #28DEB6;
}

p {
  margin: 10px;
}

*, *:after, *:before{
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  
}

.location {
  text-align: center;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.translucid {
  background-color: rgba(0,0,0, 0.2);
}

.weather {
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}

@media (min-width: 768px ){
  .weather{
    max-width: 800px;
    padding: 60px;
  }
}

.footer, .minmax {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 24px;
}


.temperature p {
  margin: 10px;
}

.button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  border: solid 2px white;
}

.button:hover {
  cursor: pointer;
  border: none;
  color: rgb(24,103,133);
  background-color: white;
}

.spiner {
  margin: 0 auto;
  border: 4px solid rgba( 255,255,255,.3);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.daily {
  border-radius: 7px;
  padding: 10px;
  
}

.daily img {
  width: 50px;
}

.day{
  display: flex;
  justify-content: space-around;
}


@media (min-width: 768px){
  .daily img {
    width: 100px;
  }
}

@media(min-width: 540px){
  
  .daily img {
    width: 70px;
  }

  
}

@media (min-width: 420px) {
  .daily {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
  }
  .daily img {
    width: 50px;
  }
  .day {
    display: block; 
  }
}

